<a href="https://colab.research.google.com/github/sopkart/ai-workshop-summer-2022/blob/main/dataframes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from numpy.random import randn
X = pd.DataFrame(randn(4,4))

print(X)
print(X[0])
print(X[3])

print(X.iloc[0])

          0         1         2         3
0  0.936767  0.479867  0.269232  0.126900
1  0.875088  0.151109 -1.446408  0.169887
2  1.188577  0.632410 -0.499352  0.927462
3 -0.048585 -1.218216  0.911984  0.057476
0    0.936767
1    0.875088
2    1.188577
3   -0.048585
Name: 0, dtype: float64
0    0.126900
1    0.169887
2    0.927462
3    0.057476
Name: 3, dtype: float64
0    0.936767
1    0.479867
2    0.269232
3    0.126900
Name: 0, dtype: float64

In [ ]:
print(X.iloc[:,2])

0    0.269232
1   -1.446408
2   -0.499352
3    0.911984
Name: 2, dtype: float64

In [ ]:
X.index = ['a', 'b', 'c', 'd']
X.columns = [1,2,3,4]

In [ ]:
print(X)

          1         2         3         4
a  0.936767  0.479867  0.269232  0.126900
b  0.875088  0.151109 -1.446408  0.169887
c  1.188577  0.632410 -0.499352  0.927462
d -0.048585 -1.218216  0.911984  0.057476

In [ ]:
X[1]
X[4]
X.iloc[1]
X.loc['a']
X.loc[['a','c']]

          1         2         3         4
a  0.936767  0.479867  0.269232  0.126900
c  1.188577  0.632410 -0.499352  0.927462

In [ ]:
X.loc['a':'c']

          1         2         3         4
a  0.936767  0.479867  0.269232  0.126900
b  0.875088  0.151109 -1.446408  0.169887
c  1.188577  0.632410 -0.499352  0.927462

In [ ]:
X.describe

<bound method NDFrame.describe of           1         2         3         4
a  0.936767  0.479867  0.269232  0.126900
b  0.875088  0.151109 -1.446408  0.169887
c  1.188577  0.632410 -0.499352  0.927462
d -0.048585 -1.218216  0.911984  0.057476>

In [ ]:
X.sum(axis=1)

a    1.812765
b   -0.250324
c    2.249097
d   -0.297341
dtype: float64

In [ ]:
print(X)

          1         2         3         4
a  0.936767  0.479867  0.269232  0.126900
b  0.875088  0.151109 -1.446408  0.169887
c  1.188577  0.632410 -0.499352  0.927462
d -0.048585 -1.218216  0.911984  0.057476

In [ ]:
X.loc['a':'b', 1:2]

          1         2
a  0.936767  0.479867
b  0.875088  0.151109

In [ ]:
X>X.mean()

       1      2      3      4      5
a   True   True   True  False  False
b   True   True  False  False  False
c   True   True  False   True  False
d  False  False   True  False  False

In [ ]:
X.iloc[2]>X.mean(axis=0)

1     True
2     True
3    False
4     True
5    False
dtype: bool

In [ ]:
dt = {1:'hello',2: 'world', 'Q' : 123412}

In [ ]:
dt['Q']

123412

In [ ]:
print(dt)

{1: 'hello', 2: 'world', 'Q': 123412}

In [ ]:
print(X)

          1         2         3  4   5  5
a  0.936767  0.479867  0.269232  1 NaN  1
b  0.875088  0.151109 -1.446408  2 NaN  2
c  1.188577  0.632410 -0.499352  3 NaN  3
d -0.048585 -1.218216  0.911984  4 NaN  4

In [ ]:

print(X)

          1         2         3  4   5  5
a  0.936767  0.479867  0.269232  1 NaN  1
b  0.875088  0.151109 -1.446408  2 NaN  2
c  1.188577  0.632410 -0.499352  3 NaN  3
d -0.048585 -1.218216  0.911984  4 NaN  4

In [ ]:
X = pd.DataFrame(randn(5,5))

In [ ]:
print(X)

          0         1         2         3         4
0  1.000165  0.258066  0.015195 -0.581410  1.127836
1  1.384410 -0.251805  0.177884 -2.090618  1.245045
2 -1.309466 -1.194309  2.002211  1.058741 -0.123049
3  1.143099  0.613314 -0.592500 -0.405140  2.219653
4 -0.248923 -1.821057 -1.635236  0.212134 -1.051507

In [ ]:
X[4] = [1,2,3,4]
print(X)

          0         1         2         3  4
0 -1.562886 -0.853731  0.726110 -1.142143  1
1  0.006502 -0.636906 -0.958448  0.613585  2
2  1.810203 -1.712035 -0.192438 -0.293542  3
3  1.710992  0.566465 -0.091011  0.833540  4

In [ ]:
X[4]&[5] = [1,2,3,4]
print(X)

SyntaxError: ignored

In [ ]:
X.drop(1, inplace=True, axis=1)

In [ ]:
print(X)

          0         3  4
0 -0.105241  0.541589  1
1 -0.443622 -0.439644  2
2 -1.311253 -0.799419  3
3 -0.520976  0.000935  4

In [ ]:
X = pd.DataFrame(randn(5,5))
print(X)
del X[3]
print(X)

          0         1         2         3         4
0 -0.253221 -0.003413  1.582914  0.195931 -0.553342
1 -1.028902 -0.334489 -0.849876  0.280382  0.533801
2  0.488317 -2.110417  1.318081  0.397346  0.000066
3 -0.078727 -1.325251  1.462666  0.396662  0.097992
4 -0.624139  0.522311 -0.646542 -1.068451 -0.440152
          1         2         3         4
0 -0.003413  1.582914  0.195931 -0.553342
1 -0.334489 -0.849876  0.280382  0.533801
2 -2.110417  1.318081  0.397346  0.000066
3 -1.325251  1.462666  0.396662  0.097992
4  0.522311 -0.646542 -1.068451 -0.440152

In [ ]:
print(X)