<a href="https://colab.research.google.com/github/sopkart/ai-workshop-summer-2022/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
scores = pd.Series([43,54,12,86,98,24,78,97,54])

lt = [23,32,234,23,23,23]

print(lt)
print(scores)

[23, 32, 234, 23, 23, 23]
0    43
1    54
2    12
3    86
4    98
5    24
6    78
7    97
8    54
dtype: int64

In [ ]:
scores[1]

scores[:]
scores[1:5]
scores.values

array([43, 54, 12, 86, 98, 24, 78, 97, 54])

In [ ]:
scores.index = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I']
print(scores)
print(scores['F'])
print(scores[:])
print(scores['B':'G'])

A    43
B    54
C    12
D    86
E    98
F    24
G    78
H    97
I    54
dtype: int64
24
A    43
B    54
C    12
D    86
E    98
F    24
G    78
H    97
I    54
dtype: int64
B    54
C    12
D    86
E    98
F    24
G    78
dtype: int64

In [ ]:
dummy_scores = pd.Series([1,2,5,8,21], index=['qw','we','er','rt','ty'])
print(dummy_scores)
print(dummy_scores['rt'])

qw     1
we     2
er     5
rt     8
ty    21
dtype: int64
8

In [ ]:
print(scores)
print(scores.iloc[0])
print(scores.iloc[-1])
print(scores.iloc[:])
print(scores[['A','B']])

A    43
B    54
C    12
D    86
E    98
F    24
G    78
H    97
I    54
dtype: int64
43
54
A    43
B    54
C    12
D    86
E    98
F    24
G    78
H    97
I    54
dtype: int64
A    43
B    54
dtype: int64

In [ ]:
scores>50
scores[scores>50]

print(scores.mean())
print(scores.std())
scores[scores>scores.mean()]

60.666666666666664
31.164884084494844

D    86
E    98
G    78
H    97
dtype: int64

In [ ]:
print(scores)
scores['A'] = 70
print(scores)

A    43
B    54
C    12
D    86
E    98
F    24
G    78
H    97
I    54
dtype: int64
A    70
B    54
C    12
D    86
E    98
F    24
G    78
H    97
I    54
dtype: int64